src/main/resources/responseregisternewplayer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="registeredplayer" type="registeredplayerType"/>
  <xs:complexType name="registeredplayerType">
    <xs:sequence>
      <xs:element type="xs:int" name="player_id"/>
      <xs:element type="xs:int" name="game_id"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
